.service-container{
    width: 100%; 
    overflow: hidden;
}
.services{
    width: 90vw;
    max-width: var(--max-width);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.service-title{
    margin: 0 auto;
    width: 30%;
    text-align: center;
}
 #service-titleIcon {
    color: var(--primary-500);
    font-size: 3rem;
}
.service-title h3{
    color: var(--gray-dark);
}
.service-img{
    transform: translateX(-300px);
    opacity: 0.5;
}
.serviceText{
    transform: translateX(300px);
    opacity: 0.5;
}
.serviceAnimate{
    transform: translateX(0);
    opacity: 1;
    transition: transform 2s ease-in-out;
}
.service-img img{
    border-radius: 8px;
}
.services h5{
    color: var(--primary-600);
}
.service-desc {
    display: flex;
    margin-top: .4rem;
}
.service-desc p{
    font-size: 0.8rem;
    margin-top: -1rem;
    color: var(--black);
}
.serviceIcon-container{
    position: relative;
    margin-right: 0.75rem;
}
.serviceInner-icon{
    position: absolute;
    top: 15%;
    left:35%;

}
.serviceMain-icon{
    font-size: 3rem;
    color: var(--primary-500);
}
@media screen and (min-width:992px) {
.services{
    flex-direction: row;
}
.service-img{
    width: 50%;
    margin-right: 1.5rem;
    margin-top: 1rem;
}
.serviceInner-icon {
    top: 20%;
    left: 35%;
}
}
