.projects-container {
    width: 100%;
    margin: 2rem 0;
    height: 100vh;
}
.projects {
    width: 90vw;
    height: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    position: relative;
}
#projectIcon{
    color: var(--primary-500);
}
.projectImgs,.projectImg{
    border-radius: 8px;
}
.project-title {
    margin: 0 auto;
    width: 30%;
    text-align: center;
}
.project-title h3 {
    color: var(--gray-dark);
    
}
.projects p,h5{
    color: var(--black);
}
.projects p{
    margin-top: -1rem;
}
h5{
    font-weight: bold;
}

.projectContent {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.projects-list {
    width: 100%;
    height: 100%;
}
.projects-list{
    position: absolute;
}
@media screen and (max-width:768px) {
    .projects-container{
        height: 45vh;
    }
    
}