.hobbies-container{
  width: 100%;
  overflow-x: hidden;
  /* border: red solid 1px; */
}
.hobbies{
  width: 90vw;
  max-width: var(--max-width);
  margin: 0 auto;
}
.hobby{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2rem;
}
.hobbyImg{
  border-radius: 8px;
  margin-top: 1rem;
}
.hobbyTitle{
  display: flex;
  justify-content: center;
}
.hobbyTitle h3{
  color:rgb(20, 20, 20);
}
.hobbyText{
  transform: translateX(150px);
    opacity: 0;
}
.hobbyTextAnimate{
  opacity: 1;
    transform: translateX(0);
    transition: all ease-in-out 3s;

}
.img-container{
  transform: translateX(-150px);
  opacity: 0;
}
.hobbyImgAnimate{
  /* transform: scale(1.1); */
  opacity: 1;
  transform: translateX(0);
  transition: all ease-in-out 3s;

}
.hobby h4{
  color: rgb(20,20,20);
  padding-top: 1rem;
}
@media screen and (min-width:992px) {
  .hobby{
    flex-direction: row;
  }
  .hobbyText{
    margin-left: 2rem;
  }
  .img-container{
    width: 40%;
    margin-right: 2rem;
  }
  .hobbyImg{
    width: 100%;
  }
  .sportsImg{
    height: 75%;
  }
}